@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --shadow-input: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
      0px 1px 0px 0px rgba(25, 28, 33, 0.02),
      0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  }
}

.typewriter-cursor {
  height: 1.2em !important; /* reduces cursor height */
}

.typewriter-word + .typewriter-word {
  margin-left: 0.5rem !important; /* adds space between words */
}

@theme inline {
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1
    var(--delay, 0ms);

  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }
}
